@rendermode InteractiveServer

<div class="loading-overlay">
    <img class="Loading-img" src="/images/GIF_Criceto_2x.gif" alt="Loading" />
</div>


@code {
    [Parameter]
    public bool isVisible { get; set;} =false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
